@import url('https://fonts.cdnfonts.com/css/space-ranger');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--dm-sans), sans-serif;
  cursor: none;
}

:root{
  --yellow-light: #ffcc33;
  --yellow: rgb(234 179 8);
  --text-sec: #e6e6e6;
  --text-tert: rgb(107, 114, 128);
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  background-color: transparent;
  border: none;
  outline: none;
}

textarea, input{
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

.pricedown{
  font-family: 'Space Ranger', sans-serif;
}