#hero {
  position: relative;
}

#heroContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0 0 0/0.3);
  background-image: linear-gradient(
      to bottom,
      transparent,
      transparent,
      transparent,
      transparent,
      rgb(0 0 0)
  );
}

#backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#headerText {
  font-size: 120px;
  font-weight: 500;
  color: var(--yellow);
  text-align: center;
}

#subHeaderText {
  font-size: 32px;
  font-weight: 500;
  color: white;
  margin-top: 15px;
}

#about {
  background-color: black;
  padding: 120px;
  margin: 0 auto;
}

#scrollDown {
  position: absolute;
  bottom: 20px;
  left: 50%;
}

#scrollDown img {
  height: 50px;
}

#about h2 {
  text-align: center;
  font-size: 60px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: fit-content;
  margin: 0 auto;
}

#about p {
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
}

#about p span {
  font-size: 30px;
  font-weight: 600;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
      to right,
      var(--text-sec),
      var(--text-sec)
  );
  background-repeat: no-repeat;
  background-color: #333;
}

#countdown {
  padding: 120px;
  background-color: black;
}

#countdownTimer {
  width: fit-content;
  margin: 0 auto;
  background: linear-gradient(var(--text-sec), var(--text-sec)) 0 100%/60%
          2.5px,
      linear-gradient(var(--text-sec), var(--text-sec)) 100% 0px/60% 2.5px;
  background-repeat: no-repeat;
  padding: 80px 100px;
  position: relative;
  display: flex;
  justify-content: center;
  max-width: min(1000px, 90%);
}

#countdownTimer::before {
  content: "";
  position: absolute;
  top: -46px;
  right: -46px;
  width: 46px;
  height: 46px;
  border-bottom: 3px solid var(--text-sec);
  transform: rotate(45deg) translate(23px, 12px);
  box-sizing: border-box;
}

#countdownTimer::after {
  content: "";
  position: absolute;
  bottom: -46px;
  left: -46px;
  width: 46px;
  height: 46px;
  border-top: 3px solid var(--text-sec);
  transform: rotate(45deg) translate(-23px, -12px);
  box-sizing: border-box;
}

.countdownNumber {
  font-size: 96px;
  font-weight: 500;
  color: var(--text-sec);
  line-height: 1;
  text-align: center;
  width: 2ch;
}

.separator {
  font-size: 36px;
  color: var(--yellow);
  margin: 20px;
}

.countdownLabel {
  font-size: 16px;
}

.countdownItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-sec);
  text-transform: uppercase;
}

#altAbout {
  background-color: black;
  padding: 80px;
  margin: 0 auto;
}
#altAbout h2 {
  text-align: center;
  font-size: 60px;
  color: var(--text-sec);
  width: fit-content;
  margin: 0 auto;
  font-weight: 500;
}

#altAboutContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 120px;
}

#altAboutContainer p{
  max-width: 550px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  flex-shrink: 1;
  min-width: 350px;
}

#altAboutContainer p span{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(
      to right,
      var(--text-sec),
      var(--text-sec)
  );
  background-repeat: no-repeat;
  background-color: #333;
}

#altAboutContainer img{
  min-width: 350px;
  flex-shrink: 1;
  max-width: 450px;
}

@media screen and (max-width: 1000px) {
  #about{
      padding: 100px 50px;
  }
  
  #about p span{
      font-size: 26px;
  }

  #about h2{
      font-size: 50px;
  }

  #countdown, #altAbout{
      padding: 60px;
  }
  
  #altAboutContainer{
      flex-wrap: wrap;
  }
  
  #altAboutContainer img{
      min-width: 250px;
      flex-shrink: 1;
      max-width: 350px;
  }
}

@media screen and (max-width: 700px){
  .countdownNumber{
      font-size: 60px;
  }

  .separator{
      font-size: 28px;
      margin: 16px;
  }

  #countdownTimer{
      padding: 60px 80px;
  }
}